# Exclude everything by default
**

# Include source directories
!backoffice/
!backoffice/**
!backoffice_macros/
!backoffice_macros/**
!backoffice_web/
!backoffice_web/**

# Exclude build artifacts, secrets, and temp files within backoffice
backoffice/target/
backoffice/.env
backoffice/.env.*
backoffice/tmp/
backoffice/**/.DS_Store
