**
!backoffice/
!backoffice/**
!backoffice_macros/
!backoffice_macros/**
!backoffice_web/
!backoffice_web/**

backoffice/target/
backoffice/.env
backoffice/.env.*
backoffice/tmp/
**/node_modules/
**/.DS_Store
**/.git/
